@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

:root {
  --dark-color-a: black;
  --dark-color-b: #14213d;
  --light-color: #fca311;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-color-a);
  font-family: Dongle, sans-serif;
  font-size: 44px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--light-color);
  color: var(--dark-color-a);
}

.div-main {
  background-color: var(--dark-color-b);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-main {
  flex-grow: 1;
  display: flex;
}

.div-user {
  width: 25%;
  background-color: var(--dark-color-b);
  padding: 10px;
  color: var(--light-color);
}

.span-nickname {
  font-size: 32px;
  display: inline-block;
  margin-bottom: 10px;
}

.container-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-name {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  color: var(--light-color);
  background-color: var(--dark-color-b);
  border: none;
  border-bottom: 2px solid var(--light-color);
}

.btn-save {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  color: var(--light-color);
  background-color: var(--dark-color-b);
  border: none;
  cursor: pointer;
}

.user-list {
  max-height: 60%;
  overflow-y: scroll;
}

.div-chat {
  width: 75%;
  background-color: var(--light-color);
  padding: 10px;
  color: var(--dark-color-a);
  overflow-y: scroll;
}

.chat-list {
  max-height: 80%;
  overflow-y: scroll;
}

.div-msg {
  background-color: var(--dark-color-a);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-msg {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-send {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: var(--dark-color-a);
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 720px) {
  .input-msg {
    width: 70%;
  }
}

@media (min-width: 1080px) {
  .div-main {
    max-width: 1080px;
    max-height: 720px;
    margin: auto;
  }
  .chat-main {
    display: flex;
    justify-content: space-between;
  }
  .div-user {
    width: 20%;
  }
  .div-chat {
    width: 70%;
  }
}
